// Sets the default text formatting & responsive sizes //----------------
html {
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    text-rendering: optimizeLegibility;
    font-size: $font-size-base;
    letter-spacing: -.01rem;

}

body {
    line-height: $line-height-base;
}

h1 {
    font-size: $font-size-h1;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025em;
    margin: 0;
    padding-bottom: 2rem;
}

h2 {
    font-size: $font-size-h2;
    line-height: 1.375;
    margin: $baseline 0 .65rem 0;
}

h3 {
    font-size: $font-size-h2;
    line-height: 1.25;
    margin: $baseline 0 $baseline 0;
}

h4 {
    font-size: $font-size-base;
    margin: $baseline 0 0;
    font-weight: normal;
}

p {
    margin: 0 0 $baseline;
    max-width: 30em;
    word-wrap: break-word; //legacy

    /* Non standard for webkit */
    word-break: break-word;
    overflow-wrap: break-word;
    -ms-hyphenate-limit-lines: 1;
    -webkit-hyphenate-limit-lines: 1;
    -ms-hyphenate-limit-chars: 6 3 2;
    hyphens: auto;
}

a {
    text-decoration: none;
}

//medium style links
p a {
    background-image: linear-gradient(to bottom, transparent 50%, currentcolor 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 0.95em;
}

aside,
figcaption,
footer {
    font-size: $font-size-sm;
}

figcaption p{
    max-width: 30em;
}

h1,
h2 {
    max-width: 9em;
}

.u-emphasis {
    font-weight: bold;
}