@use '../../Styles/Partials/variables' as *;
@font-face {
  font-family: 'Neoneon';
  src: url('../../Assets/Fonts/Neoneon.woff2') format('woff2'),
    url('../../Assets/Fonts/Neoneon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
#logo {
  width: 100vw;
  height: auto;
  &--h2 {
    font-family: 'Neoneon';
    text-align: center;
    font-size: 4.6rem;
    width: fit-content;
    padding: 8px;
    z-index: 9999;
    margin: auto auto;
    background-color: rgba(0, 0, 0, 0.55);
    color: hotpink;
    border: 1px solid purple;
    border-radius: 24px;
    animation: neonEffect 3s infinite;
    @media (min-width: $scr-tablet) {
      font-size: 6.8rem;
    }
  }
}

// ###### Keyframes animation created neonEffect by cycling through text-shadow on the h2 and an asyc effect on the box. ######

@keyframes neonEffect {
  10%,
  20% {
    box-shadow: 0 0 0.1vw #dcd5da, 0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      -0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      -0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      0 -0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      0 0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0.5vw 0 0.5vw rgba(224, 1, 141, 0.2),
      0 0 #fff;
  }
  60%,
  80% {
    text-shadow: 0 0 0.1vw #dcd5da, 0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      -0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      0.5vw -0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      -0.5vw 0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      0 -0.5vw 0.5vw rgba(224, 1, 141, 0.2),
      0 0.5vw 0.5vw rgba(224, 1, 141, 0.2), 0.5vw 0 0.5vw rgba(224, 1, 141, 0.2),
      0 0 #fff;
  }
  70%,
  100% {
    text-shadow: 0 0 0.1vw #ffeffa, 0.8vw 0.8vw 0.8vw rgba(224, 1, 141, 0.4),
      -0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4),
      0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4),
      -0.8vw 0.8vw 0.5vw rgba(224, 1, 141, 0.4),
      0 -0.8vw 0.5vw rgba(224, 1, 141, 0.4),
      0 0.8vw 0.8vw rgba(224, 1, 141, 0.4);
    box-shadow: 0 0 0.1vw #ffeffa, 0.8vw 0.8vw 0.8vw rgba(224, 1, 141, 0.4),
      -0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4),
      0.8vw -0.8vw 0.8vw rgba(224, 1, 141, 0.4),
      -0.8vw 0.8vw 0.5vw rgba(224, 1, 141, 0.4),
      0 -0.8vw 0.5vw rgba(224, 1, 141, 0.4),
      0 0.8vw 0.8vw rgba(224, 1, 141, 0.4);
  }
}
