@use '../../Styles/Partials/variables' as *;
header {
    background-color:$nav-bg-color;
}

#navWrapper{
    min-width: $abs-min-size;
    width:100vw;
    height:70px;
    border:1px solid red;
    display:flex;
    z-index: 100;
}
.navBar{
    &:first-child{
        width:50px;
    }
    &-block:not(:first-child){
        flex:1 1 40%;
        height:100%;
        border:1px solid blue;
        align-content: center;
    }
    
}
#block1{
    width:50px;
    margin:auto auto;
}
.react-icons{
    align-self: center;
    color:black;
    width:48px;
    height:48px;   
}


#show{
        display:unset;
        font-size: 24px;
        margin-bottom:10px;
        text-align: right;
        &:hover{
            color:$main1;
        }
        &:active{
            background-color: inherit;
        }
    }
#hide{
        display: none;
    }

#place {
    height: 100px;
    width: 100vw;
    background-color: transparent;
}

#toggleMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100vw;
    height: 100px;
    z-index: 99;
    padding-left: 16px;
    padding-right: 16px;
    & h1 {
        font-family: Monoton;
        z-index: 99;
        font-size: 6.4rem;
    }
    
}
#flyoutMenu {
    width: 100vw;
    height: 100vh;
    background-color: $background-color-nav;
    position: fixed;
    top: 71px;
    left: 0;
    padding-right: 24px;
    transition: transform 0.75s cubic-bezier(0, 0.52, 0, 1);
    overflow: hidden;
    z-index: 99;
    & li {
        font-size: 24px;
        margin-bottom:10px;
        &:hover{
            color:$main1;
        }
        &:active{
            background-color: inherit;
        }
    }
    & p {
        font-size: 32px;
        color: $main2;
    }
    & span{
        font-family: Monoton;
    }
}

#flyoutMenu.hide {
    display:none;
}

#flyoutMenu.show {
    animation-name: flydown;
    animation-duration: 1s;
    overflow: hidden;
}

#flyoutMenu h2 a:hover {
    text-decoration: underline;
}

@keyframes flydown{
    from{transform:translate3d(0,210vw, 0);}
    to{transform: translate3d(0,0vw, 0);}
}