@use '../../Styles/Partials/variables' as *;
#main-container {
  padding: 0;
}
#activeGame {
  width: 100%;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  &:hover {
    box-shadow: none;
  }
}
#topCard {
  width: 100%;
  min-width: $abs-min-size;
  height: auto;
  &.content--card.content--card-deets{
    background-image: none;
    border-radius: 24px;
  }
  @media (min-width: $scr-tablet) {
    width: 100%;
  }
}
#activeGame{
  max-width: $abs-max-size;
  width: 95%;
}
div.content--card {
   
  &-info {
    background-color:rgba(255,255,255,.9);
    margin: auto auto;
    padding-left:16px;
    width: 100%;
    height:auto;
    font-size: 2rem;
    & ul{

      @media (min-width: 650px) {
        width:80%;
        margin:auto auto;
        display:grid;
        grid-template-columns:1fr 1fr ;
        grid-template-rows: 30px 30px 30px;
      }
    }
      
  }
  &-description{
      background-color:black;
      font-weight: normal;
      & p{
        line-height: 2.82rem;

      }
  }
  &-title{
    margin:8px;
    box-shadow: 0 0 5px 0 white;
    border-radius: 24px;
    padding:8px;
  }
}
ul {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: fit-content;
}
li {
  width: 95%;
  height: 50%;
  min-width: fit-content;
  padding: 8px;
  display: flex;
  text-align: left;
  align-content: flex-start;
  &:hover {
    background-color: yellow;
    font-weight: bold;
  }
  &:last-child:hover {
    background-color: inherit;
  }
}

button {
  width: 125px;
  text-align: left;
  height: 90%;
  border-radius: 24px;
  border: none;
  background-color: inherit;
  &:hover,
  :active {
    background-color: yellow;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
  }
}
img {
  width: 100%;
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  @media (min-width: $scr-tablet) {
    width: 100%;
  }
}
